<!DOCTYPE html>
<html lang="en" ng-app="ratingAgency">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <base href="/">
      <title>Rating Agency</title>
      <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
      <link href="/public/stylesheets/landing.css" rel="stylesheet">
      <link rel="stylesheet" href="views/tmp_assets/font-awesome/css/font-awesome.min.css">
  </head>
  <body>
      <h1>Rating Agency</h1>
      <p>Rating Agency System.</p>
      <a href="/homepage"><button >Get Started</button></a>
      <script src="/public/javascripts/controller.js"></script>
      <!-- <script src="app/angularApp.js"></script> -->
      <script src="/public/javascripts/jquery.js"></script>
      <script src="/public/javascripts/bootstrap.min.js"></script>
  </body>
</html>
